body {
	font-family: monospace;
	color: #FFF;
	background-color: #000;
}

canvas#flycanvas {
	border: solid 2px white;
	border-radius:10px;
	float: left;
}

div#rightcol {
	float: left;
	margin:10px;
}

div#rightcol li {
	list-style-type: none;
	margin:3px;
	padding:3px;
}

div#rightcol ul {
	padding:0px;
}

span.key {
	margin:5px;
	padding:5px;
	border: 1px solid #FFF;
	border-radius:5px;
}
