body {
	font-family: Arial,sans-serif
}

canvas#flycanvas {
	border: solid 2px black;
	float: left;
}

div#rightcol {
	float: left;
	margin:5px;
}

div#rightcol li {
	list-style-type: none;
	margin:3px;
	padding:3px;
}

div#rightcol ul {
	padding:0px;
}

span.key {
	margin:5px;
	padding:5px;
	border: 1px solid #AAA;
	border-radius:5px;
}
